body {
    background-color: #f8f8f8;
}
.attendance-list {
    max-width: 1540px;
    margin: 5px 100px;
}
.list__title {
    margin: 30px 0;
}
.list__title h1 {
    padding: 5px 20px;
    border-left: 8px solid black;
}
.list__day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}
.list__day img {
    margin-right: 10px;
    width: 8%;
}
.list__day a.active {
    color: black;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #989494;
}
.list__content {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    font-weight: bold;
}
.list__table {
    width: 100%;
}
.list__table--title {
    padding: 10px 20px;
    color: #989494;
}
.list__table--date {
    text-align: center;
    padding: 20px;
    color: #989494;
}
.list__table--row {
    border-bottom: 1px solid #e8e8e8;
}
.list__table--row a {
    color: black;
}
.list__table--row:last-child {
    border-bottom: none;
}
.list__table--row-title {
    border-bottom: 2px solid #e8e8e8;
}
