body {
    background-color: #f8f8f8;
}
.request-approve {
    max-width: 1540px;
    margin: 5px 100px;
}
.approve__title {
    margin: 30px 0;
}
.approve__title h1 {
    padding: 5px 20px;
    border-left: 8px solid black;
}
.form {
    width: 600px;
    font-weight: bold;
}

.approve__table {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
}
.approve__table--row {
    border-bottom: 1px solid #e8e8e8;
}

.approve__table--title {
    padding: 20px 30px;
    color: #989494;
}
.approve__table--date {
    padding: 20px 30px;
}

.approve__submit {
    display: flex;
    justify-content: flex-end;
}

.approve__submit--button {
    margin-top: 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    padding: 8px;
}
.approve__notice {
    margin-top: 20px;
    background-color: #6c6767;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    padding: 8px;
}
