body {
    background-color: rgb(210, 213, 213);
}
.staff-list {
    max-width: 1540px;
    margin: 5px 100px;
}
.list__title {
    margin: 30px 0;
}
.list__title h1 {
    padding: 5px 20px;
    border-left: 8px solid black;
}

.list__content {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
}
.list__table {
    width: 100%;
    text-align: center;
}
.list__table--row {
    border-bottom: 1px solid rgb(114, 112, 112);
}
.list__table--row a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(114, 112, 112);
}
.list__table--row-title {
    border-bottom: 2px solid rgb(114, 112, 112);
}
.list__table--title,
.list__table--date {
    padding: 20px;
    color: rgb(114, 112, 112);
}
