body {
    background-color: #f8f8f8;
}
.request-list {
    max-width: 1540px;
    margin: 5px 50px;
}
.request__title {
    margin: 30px 0;
}
.request__title h1 {
    padding: 5px 20px;
    border-left: 8px solid black;
}
.request__upper {
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}
.tab {
    padding: 8px 30px;
    color: #989494;
    text-decoration: none;
}

.tab.active {
    font-weight: bold;
    color: black;
}
.request__lower {
    width: 100%;
}
.request__table {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    color: #989494;
    font-weight: bold;
}
.request__table--row {
    border-bottom: 1px solid #e8e8e8;
}
.request__table--row a {
    color: black;
}
.request__table--row-title {
    border-bottom: 2px solid #e8e8e8;
}
.request__table--row:last-child {
    border-bottom: none;
}
.request__table--title {
    padding-left: 20px;
    padding-top: 15px;
    text-align: left;
}
.request__table--date {
    font-size: 14px;
    padding: 20px;
}
a {
    text-decoration: none;
    color: black;
}
