body {
    background-color: #f8f8f8;
}
.attendance-detail {
    max-width: 1540px;
    margin: 5px 100px;
}
.detail__title {
    margin: 30px 0;
}
.detail__title h1 {
    padding: 5px 20px;
    border-left: 8px solid black;
}
.form {
    width: 600px;
}
fieldset {
    border: none;
    padding: 0px;
}
fieldset.is-disabled input,
fieldset.is-disabled textarea {
    border: none;
    background: transparent;
    opacity: 1;
    padding: 20px 10px;
    font-weight: bold;
    font-size: 16px;
}

.detail__table {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
}
.detail__table--row {
    border-bottom: 2px solid #e8e8e8;
}
.detail__table--row a {
    font-weight: bold;
}
.detail__table--row:last-child {
    border-bottom: none;
}
.detail__table--title {
    padding: 20px 30px;
    color: #989494;
}
.detail__table--date {
    padding: 20px 30px;
    font-weight: bold;
}

.input-day {
    display: flex;
    text-align: center;
    gap: 100px;
}
.input-day span {
    font-size: 14px;
}
.input-row {
    display: flex;
    align-items: center;
    gap: 25px;
}

.detail__table--date input {
    width: 100px;
    height: 30px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e8e8e8;
}
.detail__table--date textarea {
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e8e8e8;
}
.detail__submit {
    display: flex;
    justify-content: flex-end;
}

.detail__submit--button {
    margin-top: 30px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    padding: 5px;
    font-weight: bold;
}
.detail__notice {
    color: red;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .attendance-detail {
        width: 90%;
        max-width: 1540px;
        margin: 5px auto;
    }
    .form {
        width: 60%;
    }
    .detail__title {
        margin-bottom: 50px;
    }
    .detail__title h1 {
        margin-left: 250px;
    }
    .detail__table--title {
        padding: 20px 50px;
    }
    .detail__table--date {
        padding: 20px 50px;
    }

    .detail__submit--button {
        margin-top: 50px;
        width: 100px;
        height: 40px;
    }
}
