body {
    background-color: #f8f8f8;
}
.attendance {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.attendance__status {
    margin-top: 100px;
}
.attendance__status p {
    background: #e0e0e0;
    border-radius: 20px;
    width: 80px;
    padding: 5px;
    font-size: 14px;
}
.form {
    width: 50%;
}
.attendance__date {
    font-size: 30px;
    margin: 15px;
}
.attendance__time {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.attendance__submit--button {
    border-radius: 10px;
    background: black;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    width: 100px;
}
.break__submit--button {
    border: none;
    border-radius: 10px;
    background: #fff;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    width: 100px;
}
.status__notice {
    margin-top: 50px;
    font-weight: bold;
    font-size: 18px;
}
