body {
    background-color: #f8f8f8;
}
.attendance {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.attendance__status {
    margin-top: 100px;
}
.attendance__status p {
    background: #e0e0e0;
    border-radius: 20px;
    width: 80px;
    padding: 5px;
    font-size: 14px;
}
.form {
    width: 50%;
}
.attendance__date {
    font-size: 30px;
    margin: 15px;
}
.attendance__time {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.attendance__submit--button {
    border-radius: 10px;
    background: black;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    width: 100px;
    margin-right: 20px;
}
.break__submit--button {
    border: none;
    border-radius: 10px;
    background: #fff;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    width: 100px;
    margin-left: 20px;
}
.status__notice {
    margin-top: 50px;
    font-weight: bold;
    font-size: 18px;
}
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .attendance__status {
        margin: 100px auto 20px auto;
    }
    .attendance__status p {
        width: 100px;
        padding: 8px;
        font-size: 16px;
    }
    .attendance__date {
        font-size: 42px;
        margin: 15px auto 20px;
    }
    .attendance__time {
        font-size: 50px;
        margin-bottom: 30px;
    }
    .status__notice {
        font-size: 20px;
    }
}
