body {
    background-color: rgb(210, 213, 213);
}
.attendance-detail {
    max-width: 1540px;
    margin: 5px 100px;
}
.detail__title {
    margin: 30px 0;
}
.detail__title h1 {
    padding: 5px 20px;
    border-left: 8px solid black;
}
.form {
    width: 600px;
}
fieldset {
    border: none;
    padding: 0px;
}
.is-disabled input,
.is-disabled textarea {
    border: none;
    background: transparent;
    opacity: 1;
}

.detail__table {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
}
.detail__table--row {
    border-bottom: 2px solid rgb(114, 112, 112);
}
.detail__table--row a {
    font-weight: bold;
}
.detail__table--row:last-child {
    border-bottom: none;
}
.detail__table--title {
    padding: 20px 30px;
    color: rgb(114, 112, 112);
}
.detail__table--date {
    padding: 20px 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 30px;
}
.detail__table--day {
    padding: 20px 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 100px;
}
.detail__table--date input {
    width: 100px;
    height: 30px;
    padding-left: 20px;
    border: 1px solid rgb(114, 112, 112);
}
.detail__table--date textarea {
    width: 250px;
    height: 50px;
    border: 1px solid rgb(114, 112, 112);
}
.detail__submit {
    display: flex;
    justify-content: flex-end;
}

.detail__submit--button {
    margin-top: 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    padding: 3px;
}
.detail__notice {
    color: red;
}
